
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-font: #0A3871;
  --color-background: #F3F5FC;
}

@font-face {
  font-family: 'aldo';
  src: url(/fonts/aldo\ pc.ttf);
  font-weight: bold;
  font-style: bold;
}

body{
  background-color: var(--color-background);
  font-family: 'Inter', sans-serif;
}

header {
  /* border: 1px solid red; */
  width: 100%;
  min-width: 320px;
}

.container-logo{
  width: 85%;
  margin: auto;
}

.container-logo h1 {
  margin-top: 40px;
  font-family: 'aldo';
  font-weight: bold;
  font-size: 3rem;
  color: var(--color-font);
}

.main{
  width: 90%;
  min-height: calc(100vh - 91px - 72px);
  margin: auto 40px auto auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
}

.left{
 background-color: transparent;
 height: 90%;
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.text-area{
  background-color: #fff;
  width: 80%;
  font-size: 32px;
  color: var(--color-font);
  outline: none;
  border: none;
  resize: none;
  padding: 10px;
}

.text-area::placeholder{
  color: var(--color-font);
}

.boton-item{
  display: flex;
  gap: 24px;
  margin-top: 16px;
  flex-wrap: wrap;
}

.btn-encriptar{
  width: 40%;
  max-width: 328px;
  height: 67px;
  border-radius: 24px;
  background-color: var(--color-font);
  color: #fff;
  font-size: 16px;
  border: 2px solid var(--color-font);
  cursor: pointer;
}
.btn-desencriptar{
  width: 40%;
  max-width: 328px;
  height: 67px;
  border-radius: 24px;
  background-color: #D8DFE8;
  color: var(--color-font);
  font-size: 16px;
  border: 2px solid var(--color-font);
  cursor: pointer;
}
.btn-copiar{
  width: 100%;
  max-width: 328px;
  height: 67px;
  border-radius: 24px;
  background-color: transparent;
  color: var(--color-font);
  font-size: 16px;
  border: 2px solid var(--color-font);
  cursor: pointer;
  margin: 0 auto;
  
}

.ocultar {
  display: none;
}

.rigth{
  background-color: #fff;
  border-radius: 32px;
  padding: 32px;
  width: 100%;
  height: calc(100% + 48px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  box-shadow: 0px 24px 32px -8px #00000014;
}


.ajustar{
  height: auto;
  justify-content: space-between;
  min-height: calc(100% - 67px - 32px);
  pointer-events: all;
  text-align: left;
  overflow: auto;
}

.muneco{
  width: 100%;
}

.mensaje{
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  color: var(--color-greyDark);
	border: none;
	outline: none;
	overflow: hidden;
	resize: none;
	pointer-events: none;
}

.info-mensaje{
  color:#495057;
  font-size: 16px;
  text-align: center;
}

footer{
  width: 100%;
  background-color: var(--color-font);
  display: flex;
  margin-top: 50px;
  align-items: center;
  min-height: 50px;
}

.foot-left{
  text-align: center;
  width: 50%;
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
}

.foot-left p{
  width: 80%;
}

.foot-right{
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* MEDIA QUERYS */
@media screen and (max-width: 800px){

  .main{
    grid-template-columns: 1fr;
    width: auto;
    margin: auto 40px;
  }

  .text-area{
    width: 100%;
    border-radius: 32px;
    margin-bottom: 20px;
  }

  .rigth{
    height: 100%;
  }

  .muneco{
    display: none;
  }

  .boton-item{
    justify-content: center;
    margin-bottom: 30px;
  }

  .btn-encriptar, .btn-desencriptar {
    width: 45%;
  }
}


@media (max-width:500px) {
  .btn-encriptar, .btn-desencriptar, .btn-copiar {
    width: 100%;
  }
}